<form class="form-inline register" ng-controller='ctrl'ng-app='sjw'>
  <div class="form-group">
    <label for="exampleInputName2">用户名:</label>
    <input type="text" class="form-control reusername"   name="re-username">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">密码:</label>
    <input type="password" class="form-control repassword"  name="re-password">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">年龄:</label>
    <input type="text" class="form-control reage"   name="re-age">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">职务:</label>
    <input type="text" class="form-control rework"  name="re-work">
  </div>
   <div class="form-group">
    <label for="exampleInputFile">照片:</label>
    <input type="file" id="exampleInputFile"  name="file-img" class="fileimg">
  </div>
  <button type="submit" class="btn btn-default" ng-click='register()' ui-sref='searchAccount'>提交</button>
</form>

<!--onchange="angular.element(this).scope().fileNameChanged()"-->