<form class="form-inline register">
  <div class="form-group">
    <label for="exampleInputName2">姓名:</label>
    <input type="text" class="form-control cuname"   name="cuname">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">密码:</label>
    <input type="password" class="form-control cupassword"  name="cupassword" value="666666" readonly>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">身份证号:</label>
    <input type="text" class="form-control cuidentity"   name="cuidentity">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">性别:</label>
    <input type="text" class="form-control cusex"  name="cusex">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">联系电话:</label>
    <input type="text" class="form-control cucontact"  name="cucontact">
  </div>
  <button type="submit" class="btn btn-default" ng-click='addCutomer()' ui-sref='searchCustomer'>提交</button>
</form>