<h4>添加入住信息</h4>
<form class="form-inline register">
  <div class="form-group">
    <label for="exampleInputName2">姓名:</label>
    <input type="text" class="form-control liveinname"   name="liveinname" autocomplete="off">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">身份证号:</label>
    <input type="text" class="form-control liveidentity" autocomplete="off">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">联系电话:</label>
    <input type="text" class="form-control livecontact"   name="livecontact" autocomplete="off">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">退房时间:</label>
    <input type="date" class="form-control outTime"  name="outTime" autocomplete="off">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">房间号:</label>
    <input type="text" class="form-control liveroomnum"  name="liveroomnum" autocomplete="off">
  </div>
  <button type="submit" class="btn btn-default" ng-click='liveInOk()'>提交</button>
</form>