<div id="orderss">
					<h4>确认要订房间吗？</h4>
					<form class="form-inline register">
					  <div class="form-group">
					    <label for="exampleInputName2">姓名:</label>
					    <input type="text" class="form-control orname"   name="orname" ng-model='namess'>
					  </div>
					  <div class="form-group">
					    <label for="exampleInputEmail2">身份证:</label>
					    <input type="text" class="form-control oridentity"  name="oridentity" ng-model='identityss'>
					  </div>
					  <div class="form-group">
					    <label for="exampleInputEmail2">联系电话:</label>
					    <input type="text" class="form-control orcontact"   name="orcontact" ng-model='contactss'>
					  </div>
					  <div class="form-group">
					    <label for="exampleInputEmail2">预订入住时间:</label>
					    <input type="date" class="form-control ortimein"  name="ortimein">
					  </div>
					  <div class="form-group">
					    <label for="exampleInputEmail2">预订退房时间:</label>
					    <input type="date" class="form-control ordays"  name="ordays">
					  </div>
					    <div class="form-group">
					    <label for="exampleInputEmail2">预订房间样式:</label>
					    <!--<input type="text" class="form-control orstyle"  name="orstyle">-->
					    <select class="form-control orstyle" style="width: 184px;">
							  <option>单人房</option>
							  <option>双人房</option>
							  <option>标准房</option>
							  <option>豪华房</option>
							  <option>总统套房</option>
							  <option>情趣套房</option>
						</select>
					  </div>
					  <div id="btnss">
					  	 <button type="submit" class="btn btn-default" ng-click='addOrder()'>提交</button>
					  <button type="submit" class="btn btn-default" ng-click='delOrder()'>取消</button>
					  </div>
					 
					</form>
</div>