	<h3>客房详情介绍</h3>
			<div class="show-news">
				<div id="room1"><img data-ng-src='images/{{details.roomImg}}' alt=""></div>
				<div>
				<p>房间样式：{{details.roomStyle}}</p>
				<p>房间号：{{details.roomNum}}</p>
				<p>房间余量：{{details.roomRest}}</p>
				<p>房间价格：{{details.roomPrice}}</p>
				<p>房间描述：{{details.roomNews}}</p>		
				<button ui-sref='order'>预订房间</button>
				<button id="gobackto">取消返回</button>
				</div>
				
				
				
</div>
	
	<div id="imgnews">
		<h3>房间预览</h3>
		<p id="btnleft"><</p><p id="btnright">></p>
		<div id="images1">
		
		<img src="images/6.jpg"/>
		<img src="images/2.jpg"/>
		<img src="images/1.jpg"/>
		<img src="images/3.jpg"/>
		<img src="images/4.jpg"/>
		<img src="images/5.jpg"/>
		<img src="images/7.jpg"/>
		</div>
		
	</div>